<ion-content [fullscreen]="true">
  <ion-item lines="none">
    <img src="https://i.postimg.cc/C5rKH4GW/Logo-Bulat-UNBIN.jpg" class="img" width="21%">
    <ion-label class="ion-item">
      <h2><b>Priscila</b></h2>
      <p class="text">Sistem Informasi (S1)</p>
      <p class="text">Universitas Binaniaga</p>
    </ion-label>
    <ion-thumbnail slot="end">
      <img src="https://i.postimg.cc/fycGMWL5/Priscila.jpg" width="100%">
    </ion-thumbnail>
  </ion-item>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="ion-colleft">
        <h1><b>3.7</b></h1>
        <ion-label>IP Kumulatif</ion-label>
      </ion-col>
      <ion-col class="ion-colright">
        <h2><b>21</b></h2>
        <ion-label>SKS Tempuh</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
<br>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/1584/1584362.png"/>
        </button>
        <p>Jadwal</p>
      </ion-col>

      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/128/1048/1048953.png"/>
        </button>
        <p>Presensi</p>
      </ion-col>

      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/2641/2641409.png"/>
        </button>
        <p>Nilai</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/1722/1722377.png"/>
        </button>
        <p>Bahan & Tugas</p>
      </ion-col>

      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/2821/2821739.png"/>
        </button>
        <p>KRSS/KRS</p>
      </ion-col>

      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/2231/2231642.png"/>
        </button>
        <p>TA/Wisuda</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/1032/1032750.png"/>
        </button>
        <p>Kegiatan</p>
      </ion-col>

      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/5848/5848042.png"/>
        </button>
        <p>Biaya Kuliah</p>
      </ion-col>

      <ion-col class="col2">
        <button class="btn btn-default">
          <img src="https://cdn-icons-png.flaticon.com/512/9095/9095902.png"/>
        </button>
        <p>Kuisioner</p>
      </ion-col>
    </ion-row>
  </ion-grid>
   
</ion-content>
